body
{
    background: #F0F0F0;
}
.content
{
    margin-top: 100px;
}

.content table
{
    border: 1px solid #cccccc;
    box-shadow: 4px 4px 1px #e0e0e0;
    padding: 20px;
    background: #fff;
}

.content table tbody
{
    background: #fff;
}

.content table span.title
{
    display: block;
    font-size: 1.5em;
    font-weight: bolder;
    color: #00adef;
    color: #199FDF;
}

.content table span.period
{
    display: block;
    font-style: italic;
}

.content table span.period span
{
    background-color: #F3F3F3;
}

.content table span.period span span
{
    font-weight: bold;
}
.content table span.description
{
    color: #696969;
    color: #656565;
}

.content table th:nth-of-type(3),
.content table td:nth-of-type(3)
{
    text-align: right;
    min-width: 200px;
}

.navbar-brand
{
    color: #fff !important;
}

.btn-primary
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #00A0F1 none repeat scroll 0 0 !important;
    border-color: #0787D5 #0787D5#0787D5  !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    text-decoration: none;
    text-shadow: none !important;
}

.btn-primary:hover
{
    background-color: #0492E1 !important;
}

.btn-default
{
    background: none;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0787D5;
    border-color: #337ab7;
}

